
/* header-wrapper */
.header-wrapper{
    height: 70px;
    position: fixed;
    top: 0;
    width: calc(100% - 280px);
    left: 280px;
    background-color:rgba(255, 255, 255, 0.733);
    padding: 0 25px ;
    box-shadow: var(--box-shadow);
}
.header-wrapper input{
    min-width: 300px;
    padding: 12px ;
}
.header-profile-notification i{
    font-size: var(--lg-font);
}
.header-wrapper .profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.notification{
    position: relative;
}
.base{
    position: absolute;
    top:-16px;
    right:-8px;
    background-color: var(--green-color);
    color: var(--white-color);
    padding: 2px 7px;
    border-radius: 50px;
}



/* sidebar-wrapper */
.sidebar-wrapper{
    position: fixed;
    bottom: 0;
    left:0;
    top: 0;
    height: 100dvh;
    width: 280px;
    border-right: 2px dotted var(--border-color);
    padding: 0 ;
    padding-left: 10px;
}






/* sidebar-header */
.sidebar-header{
    height: 60px;
    padding: 10px 5px;
    /* background-color: orange; */
}
.sidebar-header a i{
    color:var(--link-color)
}
.sidebar-content-wrapper{
    overflow-y: scroll;
    height: calc(100dvh - 50px);
}
.sidebar-items{
    padding: 10px 0;
    padding-right: 15px;
}
.sidebar-items.flex-column-25{
    gap: 35px;
}
.sidebar-items .sm-title{
    font-weight: 500;
    color: var(--gray-medium);
}
.dashboard-home.sidebar-inner-item .sm-title{
    color: var(--link-color);
}
.dashboard-home.sidebar-inner-item{
    background-color:#CEEFCE;
}

.sidebar-inner-item{
    padding: 15px ;
    border-radius: var(--radius-md);
}


.sidebar-inner-item span i{
    font-size: var(--lg-font);
}
.sidebar-inner-item .flex-start-15{
    align-items: center;
}


/* sidebar-item-header */
.sidebar-item-header .sm-title{
    font-size:var(--low-font);
}

.sidebar-inner-items .sidebar-inner-item{
    background-color: transparent;
}
.sidebar-inner-items .sidebar-inner-item .sm-title,.sidebar-inner-items .sidebar-inner-item a{
    color: var(--gray-color);
}
.sidebar-inner-items .sidebar-inner-item:hover{
    background-color: var(--white-medium);
}









/* dashboard-wrapper */
.dashboard-wrapper{
    height: calc(100dvh - 70px);
    margin-top: 100px;
    width: calc(100% - 280px);
    margin-left: 280px;
    padding: 0 25px;
}

/* banner-wrapper */
.banner-wrapper{
    background-image: url('../image/small-banner1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: var(--radius-lg);
}



/* earnings-top-items */
.earnings-top-item{
    padding: 25px;
    box-shadow: var(--box-shadow);
    border-radius: var(--radius-lg);
}
.earnings-top-item .icon-wraper{
    height: 45px;
    width: 45px;
    border-radius:50%;
    background-color: var(--white-medium);
}
.earnings-top-item .icon-wraper span{
    color: var(--link-color);
    font-size: var(--lg-font);
    font-weight: 500;
}
.earnings-top-item .sm-title{
    color:var(--gray-color);
    font-weight: 500;
}
.earnings-top-item:nth-child(even) .icon-wraper{
    background-color: var(--gray-medium);
}



/* earnings medile start */
.earings-medile-items .chart{
    flex-grow: 1;
    box-shadow: var(--box-shadow);
    padding: 25px;
    border-radius: var(--radius-lg);
}
.earings-medile-items .progress{
    width: 300px;
    padding: 25px;
    box-shadow: var(--box-shadow);
    border-radius: var(--radius-lg);
}