
.wishlist-header .sm-title{
    color: var(--gray-medium);
    font-weight: 500;
}
.table{
    padding: 40px 0;
}
.table table {
    width: 100%;
    border-collapse: collapse;
}
.table table th{
    padding: 25px;
    background-color: var(--white-medium);
    font-weight: 600;
    color:var(--gray-color);
    text-align: left;
}
.table table tr{
    border-bottom:var(--border-1);
}
.table table td{
    padding: 15px 25px;
    font-weight: 500;
    font-size: var(--sm-font);
    color: var(--green-color);
    text-align: left;
}
.table table td img{
    width: 45px;
}
.table table .product-name{
    font-weight: 500;
    font-size: var(--sm-font);
    color: var(--heading-color);
}
.table table .product-name:hover{
    color: var(--link-color);
}
.table table .stock{
    display: inline-block;
    padding: 2px 8px;
    border-radius: var(--radius-sm);
    background-color: var(--link-color);
    font-size: var(--low-font);
    color: var(--white-medium);
}
.table .delete-btn{
    cursor: pointer;
}







/*****************************
***  Cart Page Start Here  ***
******************************/
.cart-area.d-flex-25{
    gap: 50px;
    align-items: flex-start;
    margin:50px 0;
}
.cart-area .cart-products{
    flex-grow: 1;
}
.cart-products .cart-modal-note{
    margin: 0;
}


/*========== cart-products-area ==========*/
.cart-product-item{
    padding: 10px;
    border-top: var(--border-1);
}
.cart-products-area{
    padding-top: 20px;
}

/* product-details */
.image-details.d-flex-20 {
    justify-content: flex-start;
}
.cart-products-area .product-details span{
    font-size: var(--low-font);
    color: var(--gray-medium);
}
.cart-products-area .remove-btn{
    padding: 2px;
    border: none;
    background-color: transparent;
    color: var(--gray-medium);
    font-size: var(--xs-font);
}
/* quantity-price */
.quantity-price.flex-between {
    gap:50px;
    width: 40%;
}
.cart-products-area .quantity-price button{
    padding: 9px 18px;
    background-color: transparent;
    border: var(--border-1);
    border-radius: unset;
    max-width: 45px;
    text-align: center;
}
.quantity button.plus-btn{
    border-top-right-radius:var(--radius-sm);
    border-bottom-right-radius: var(--radius-sm);
    margin-left: -4px;
    border-left: none;
}
.quantity button.minus-btn{
    border-top-left-radius:var(--radius-sm);
    border-bottom-left-radius: var(--radius-sm);
    margin-right:-4px;
    border-right: none;
}
.cart-products-area .quantity-price input{
    width: 45px;
    padding: 9px;
    border-radius: unset;
    text-align: center;
}
.quantity-price .old-price{
    font-size: var(--xs-font);
    text-decoration: line-through;
    color: var(--gray-medium);
}








/*===============  cart summery  ================ */
.cart-area .cart-summery{
    max-width: 340px;
    width: 100%;
    border: var(--border-1);
    border-radius: var(--radius-lg);
    padding: 25px;
}
.summery-items{
    border: var(--border-1);
    border-radius: var(--radius-md);
    font-weight: 500;
}
.summery-item{
    border-bottom: var(--border-1);
    padding: 12px 15px;
}
.summery-item:last-child{
    border-bottom: none;
}

.cart-summery .checkout-btn{
    font-size: var(--lg-font);
    padding: 12px ;
}
.cart-summery .checkout-btn .xl-title{
    color: var(--white-color);
}

/* terms-condition */
.terms-condition small{
    line-height: 23px;
    font-size: var(--low-font);
}


/* promo-code */
.promo-code {
    margin-top: 5px;
}
.promo-code label.sm-title{
    font-weight: 400;
}
.promo-code .input-promo::placeholder{
    color: var(--gray-medium);
    font-weight: 500;
}
.promo-code .btn-outline:hover{
    transition: .2s linear;
    background-color: var(--heading-color);
    color: var(--white-color);
    font-weight: 500;
}
.terms-condition-check .d-flex-5{
    align-items: center;
}
.terms-condition-check p{
    font-size: var(--low-font);
    color: var(--gray-medium);
}






/*********************************
***  Checkout Page Start Here  ***
**********************************/
.checkout-area{
    margin:25px 0;
}
.checkout-area.flex-between{
    gap: 80px;
    align-items: flex-start;
}
.add-delivery{
    flex-grow: 1;
}

/* add-delivery-header */
.add-delivery .location-icon{
    font-size: var(--xl-font);
    color: var(--gray-medium);
}

.add-delivery-header .add-new-address{
    padding: 7px;
    font-size: var(--xs-font);
    border: 1px solid var(--link-color);
    color: var(--link-color);
    border-radius: var(--radius-sm);
    cursor: pointer;
    font-weight: 500;
    transition: .2s;
}
.add-delivery-header .add-new-address:hover{
    background-color: var(--link-color);
    color: var(--white-color);
}

.delivery-address-items.flex-between{
    gap: 30px;
    align-items: stretch;
}
.delivery-address-item{
    border: var(--border-1);
    border-radius: var(--radius-lg);
    padding: 25px;
}

.delivery-address-item .name{
    color:var(--gray-color)
}
.delivery-address-item .address p{
    color: var(--gray-medium);
    font-weight: 500;
    line-height: 23px;
}
.delivery-address-item .default-address{
    color: var(--link-color);
}

/* post */
.delivery-address-item .post{
    border-bottom:dotted 1px var(--gray-medium);
    width: fit-content;
    line-height:15px;
}



.order-details{
    max-width: 320px;
    width: 100%;
}
.order-details-area{
    border: var(--border-1);
    box-shadow: var(--box-shadow);
    border-radius: var(--radius-lg);
}

/* order-details-header */
.order-details-header {
    padding:15px 25px;
    border-bottom: var(--border-1);
}

/* order-details-body */
.order-details-body li{
    padding: 15px;
    border-bottom: var(--border-1);
}

/* order-details-footer-item */
.order-details-footer-items{
    border-bottom: var(--border-1);
}
.order-details-footer-item{
    padding: 5px 15px;
}
.order-item.flex-between{
    gap: 50px;
}
.order-item .price .old-price{
    text-decoration: line-through;
    color: var(--gray-medium);
}
.order-details-footer .total{
    padding: 15px;
}




/*  ============ add new address modal ============= */
.add-address-modal-body input{
    width: 100%;
}
.add-address-modal-body input[type = 'checkbox']{
    width: fit-content;
    padding: 0 ;
}
.add-address-modal-body label{
    color: var(--gray-color);
    font-weight: 500;
}

/*========= add-address-footer =========*/
.add-address-footer{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    gap: 10px;
}
.add-address-footer .btn-outline{
    padding: 9px 15px;
}
.add-address-footer .btn-outline:hover{
    background-color: var(--link-color);
    color: var(--white-color);
    border: 2px solid transparent;
}



/*========= delivery-day-item =========*/
.delivery-time{
    border-bottom: var(--border-1);
    padding: 15px 0;
}
.delivery-time:last-child{
    border-bottom: none;
}
.delivery-day-item{
    background-color: var(--white-medium);
    border-radius: var(--radius-md);
    padding: 12px 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    align-items: center;
}
.delivery-day-item:hover{
    background-color: var(--link-color);
    color: var(--white-color);
}
.delivery-day-item:hover .sm-title{
    color: var(--white-color);
}
.delivery-day-item .sm-title{
    font-weight: 500;
}
.delivery-day-item.active{
    background-color: var(--link-color);
    color: var(--white-color) ;
}
.delivery-day-item.active .sm-title{
    color: var(--white-color);
}

/*========== delivery-time-body-item ==========*/
.delivery-time-body-item{
    font-weight: 500;
    padding: 10px 0;
    border-bottom: var(--border-1);
}
.delivery-time-body-item .paid{
    padding: 3px 5px;
    border-radius: var(--radius-sm);
    background-color: var(--green-color);
    color: var(--white-color);
    font-size: var(--low-font);
}
.delivery-time-body-item .btn-outline{
    border: var(--border-1);
    font-size: var(--xs-font);
    color: var(--gray-medium);
    font-weight: 500;
    padding: 9px 15px;
}
.delivery-time-body-item .btn-outline:hover{
    background-color: var(--white-medium);
}

/*========= delivery-footer =========*/
.delivery-footer{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}
.delivery-footer .btn-outline{
    padding: 11px 16px;
    border: var(--border-1);
    color: var(--gray-medium);
    font-weight: 500;
}
.delivery-footer .btn-outline:hover{
    background-color: var(--white-medium);
}

/*========= delivery-instructions-body ===========*/
.delivery-instructions-body {
    color: var(--gray-medium);
}
.delivery-instructions-body textarea::placeholder{
    font-weight: 500;
    color:var(--gray-medium)
}
.delivery-instructions-body .sm-title{
    color: var(--gray-color);
}


/*========== payment-method-item ==========*/
.payment-method-item{
    padding: 25px;
    border-radius: var(--radius-lg);
    border: var(--border-1);
}
.payment-method-item.flex-start-15{
    align-items: center;
}
.payment-method-item p{
    font-size: var(--xs-font);
}






@media screen and (max-width :991px){
    .wishlist-area,.britcam-area{
        max-width: 540px;
        width: 100%;
        margin: 0 auto;
    }
    .table{
        overflow-x: auto;
    }
    .table table{
        width: 900px;
    }
    
    /* cart page */
    /* .cart-page .wishlist-area{
        max-width: unset;
    } */
    .cart-area.d-flex-25{
        flex-direction: column;
        width: 100%;
        padding-right: 0;
    }
    .cart-area .cart-products {
        width: 100%;
    }
    .quantity-price.flex-between {
        gap: 10px;
        width: 50%;
    }
    .image-details.d-flex-20 {
        justify-content: flex-start;
        gap: 10px;
        text-wrap: wrap;
    }
    .cart-products-area .quantity-price input {
        width: 35px;
        padding: 6px;
    }
    .cart-products-area .quantity-price button {
        padding: 6px 18px;
        max-width: 35px;
    }
    .cart-area .cart-summery {
        max-width: 100%;
        width: 100%;
    }
    
    
    /* =========== checkout page ============ */
    .delivery-time{
        /* max-width: 540px; */
        width: 100%;
        margin: 0 auto;
    }
    .checkout-area.flex-between {
        gap: 50px;
        flex-direction: column;
    }
    .delivery-address-items.flex-between {
        gap: 30px;
        flex-direction: column;
    }
    .order-details{
        max-width: 540px;
        width: 100%;
    }
    
    .payment-inputs.flex-between{
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
    .payment-inputs.flex-between input{
        width: 100%;
    }
    
    .delivery-day-item {
        padding: 10px 20px;
    }
}

@media screen and (max-width:769px) {
    .delivery-time-day.flex-between {
        gap: 10px;
        width: 100%;
    }
    .delivery-day-item {
        padding: 10px 15px;
    }
    .delivery-time-body-item.flex-between{
        max-width: unset;
        width: 100%;
    }
    .delivery-time-day.flex-between.w-100{
        overflow-x: auto;
        background-color: gainsboro;
    }
    .cart-number.w-50{
        width: 100%;
    }
    
}


@media screen and (max-width:576px) {
    
    .delivery-day-item {
        padding: 10px 7px;
    }
    
}